@import '../auth-shared';
@import '../../../shared/styles/typography.mixins';

.auth-card.success {
  text-align: center;

  dl {
    text-align: left;
    margin: var(--space-4) 0;

    dt {
      @include text-label;
      color: var(--color-text-secondary);
      margin-top: var(--space-2);
    }

    dd {
      @include text-body(600);
      color: var(--color-text-primary);
      margin: 0;
    }
  }
}
